@charset "UTF-8";

* {
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(270deg, #28f365, #8b80f1, #44d1db);
  background-size: 600% 600%;

  -webkit-animation: Background 30s ease infinite;
  -moz-animation: Background 30s ease infinite;
  animation: Background 30s ease infinite;

  padding: 16px;
}

@-webkit-keyframes Background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-moz-keyframes Background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes Background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.wrapper {
  height: 100%;
}

header {
  border: 1px solid black;
  border-radius: 16px;
  padding: 32px;
  text-align: center;
}

article {
  margin-block: 16px;
  height: 80%;
}

article > section {
  height: 100%;
  background-color: white;
  padding: 16px;
  overflow: scroll;
}

section > ul {
  padding-block: 8px;
}

section > ul > * {
  word-break: keep-all;
}

section > ul > h3 {
  font-size: 16px;
}

section > ul > li {
  font-size: 14px;
}

li:hover {
  border-radius: 8px;
  background-color: #eaeaea;
}

.left {
  float: left;
  width: 20%;
}

.right {
  float: right;
  width: 60%;
  border-radius: 0 16px 16px 0;
}

iframe {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  border: none;
}

footer {
  bottom: 0;
  clear: both;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .left {
    float: left;
    width: 18%;
  }

  .right {
    float: right;
    width: 46%;
    border-radius: 0 16px 16px 0;
  }
}

@media screen and (min-width: 1200px) {
  .left {
    float: left;
    width: 15%;
  }

  .right {
    float: right;
    width: 55%;
    border-radius: 0 16px 16px 0;
  }
}

@media screen and (min-width: 1500px) {
  .left {
    float: left;
    width: 12%;
  }

  .right {
    float: right;
    width: 64%;
    border-radius: 0 16px 16px 0;
  }
}
